@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@font-face {
  font-family: 'Benoda-Text';
  src: url('/fonts/Benoda-Text.otf') format('opentype'),
       url('/fonts/Benoda-Text.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

* {
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html {
  font-size: 62.5%;
  color: #2B3133;
  background-color: 	white; /*#f5fcff*/
  font-family: 'Benoda-Text', 'Lato', sans-serif;
}

body {
  font-family: 'Benoda-Text', 'Lato', sans-serif;
}

#page-wrapper {
  position: relative;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0px;
  align-items: center;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  /* height: 34rem; */
}

.banner-img {
  height: 28rem;
}

nav {
  font-size: 2rem;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 1.2rem;
}

#nav-bar {
  margin-top: 2rem;
}

.nav-link {
  display: inline-block; /* Ensures block styling while keeping the element inline */
  padding: 1.2rem 3rem; /* Controls the size and shape of the button */
  background-color: #FFF200;
  color: rgb(40, 40, 40);
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  line-height: 1.8rem;
  height: 5rem;
}

.nav-link:hover {
  background-color: #c5bb00;
}


.top-line {
  background-color: #ea2e35;
  height: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  border-radius: 4rem;
  border: none;
}

.loader {
  position: fixed;      /* Fix it to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* A light translucent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;     
  font-size: 2rem;
  color: #333;
}

h1 {
  font-size: 2.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

b {
  font-size: 1.6rem;
  color: rgb(204, 0, 255);
}

.main-content {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: space-evenly; 
  align-items: flex-start;
  /* gap: 0.6rem; */
  margin-top: 4rem; 
  margin-left: 1rem;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}



.column {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.column:empty {
  display: none;
}
.separator {
  height: 0;
  width: 80%;
  border-bottom: 1rem dotted #00AEEF;
  margin-top: 1rem;
}

#first-slot {
  /* width: 30%;
  flex-basis: calc(100% / 3 - 2.6rem); */
}

.song-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  
  margin-bottom: 2rem;
  
  
}

#song-img {
  width: 100%;
  max-width: 500px;
}

audio::-webkit-media-controls-panel {
  background-color: #ffffff;
}

.img-joke-container {
  /* width: 30%;
  flex-basis: calc(100% / 3 - 2.6rem); */
  
  
}

.img-joke {
  width: 100%;
  border-radius: 12px;
  max-width: 500px;
}

.text-joke-container.first-slot-text {
  flex-basis: unset;
  width: 100%;
}

.text-joke-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
  line-height: 2.4rem;
}


/* text joke formatting */

.text-joke {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.8rem;
  max-width: 500px;
  margin: 1rem;
  padding: 3rem;
  gap: 0.6rem;
  
}

.joke-credit {
  color: #82adbd;
  font-size: 1.6rem;
}

.dialogue-1 {
  color: #FF1A00;
  font-weight: 900;
  font-size: 2rem;
  margin-right: 1.6rem;
}
.dialogue-2 {
  color: #FF7518;
  font-weight: bold;
}
.dialogue-3 {
  color: rgb(178, 10, 224);
  font-weight: bold;
}
.question {
  color: #030002;
}
.answer {
color: #010400;
}

/* pagination */

button {
	font-family: 'Benoda-Text', 'Lato', sans-serif;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}


.page-nav {
  display: flex; /* Ensures block styling while keeping the element inline */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 3rem; /* Controls the size and shape of the button */
  background-color: #00AEEF;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}
.pagination-text{
  
  padding-bottom: 0.8rem;
}
.page-number {
  display: inline-block; /* Ensures block styling while keeping the element inline */
  padding: 1.2rem 3rem; /* Controls the size and shape of the button */
  background-color: #00AEEF;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  line-height: 1.8rem;
  height: 5rem;
  cursor: default;
}

.page-nav:hover {
  background-color: #0084b4;
}

.disabled {
  pointer-events: none;  /* Prevents clicking */
  opacity: 0.5;  /* Makes it look faded */
  cursor: not-allowed;  /* Shows a disabled cursor */
}

.page-number.active {
  font-weight: bold;
  background-color: #3a4450;
  color: white;
}

.ellipsis {
  font-size: 2rem;
  padding: 1rem;
}

.prev:disabled,
.next:disabled {
  background-color: #3a4450;
  cursor: not-allowed;
}

/* book section */

#book-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 1rem;
}

#book-call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: auto;
}

.book-call-text {
  height: 5rem;
  width: auto;
  
  font-size: 3.2rem;
}

#book-img {
  width: 30%;
}

#book-button2 {
  background-color: #ea2e35;
}

#book-button2:hover {
  background-color: #c1242a;
}


/* footer section */

footer {
  margin: 4.2rem;
  margin-top: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
} 

#mailing-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1.8rem;
}

/* #contact-text {
  margin-top: 2rem;
} */

/* #mailing-list-label {
  margin-top: 2rem;
} */

#mailing-list-form {
  display: flex;
  flex-direction: row;
}

#mailing-list-email,
#mailing-list-submit {
  padding: 0.8rem;
  font-size: 1.6rem;
}

#mailing-list-submit {
  border: none;
  font-family: 'Benoda-Text', 'Lato', sans-serif;
  padding-top: 0;
}

#mailing-list-message {
  margin-top: 1rem;
}

#copyright {
  margin: 1rem;
  margin-top: 9.6rem;
}

/* about page */

#about-text{
  width: 60%;
  font-size: 2.2rem;
  line-height: 3.2rem;
}


/* book page */
#release-date {
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  font-size: 3rem;
  line-height: 4rem;
}

#book-blurb {
  width: 100%;
  font-size: 2rem;
  line-height: 2.8rem;
}
#book-page-img {
  width: 100%;
}

/* Submit page */

.main-content-submit {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center;
  /* gap: 0.6rem; */
  margin-top: 4rem; 
  margin-left: 1rem;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}

.instructions {
  width: 75%;
  height: 5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 2rem; */
  font-size: 2.6rem;
  line-height: 4rem;
}

#message {
  color: #00AEEF;
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin: 1rem;
  margin-top: 4rem;
  width: 100%;
  font-size: 1.6rem;
}

.submit-input {
  font-size: 1.6rem;
  width: 25rem;
}

.user-buttons,
.user-buttons-2 {
  font-size: 1.6rem;
  padding-bottom: 0.4rem;
  width: 20rem;
  
  background-color: #00AEEF;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  line-height: 1.8rem;
  height: 3rem;
  cursor: pointer;
}

.user-buttons:hover {
  background-color: #0093c9;
}
.user-buttons-2:hover {
  background-color: #be353a;
}

.user-buttons-2 {
  background-color: #e74a4f;
}

.user-form-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#confirm-label {
  line-height: 4rem;
  padding-bottom: 0.8rem;
}

select {
  font-size: 1.6rem;
}

.user-input {
  font-size: 1.6rem;
  height: 3rem;
  
}

.joke-fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 35%;
}

#knock-fields {
  gap: 2rem;
}

#knock-response,
#knock-final {
  margin: 1rem 0;
}

#dialogue-instructions-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#dialogue-instructions {
  line-height: 2.6rem;
  margin-bottom: 2rem;
  width: auto;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 1300px) {
  .main-content {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-img {
    max-height: 75%;
    max-width: 100%;
  }
  #about-text{
    width: 75%;
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media (max-width: 900px) {
  header {
    height: 20%;
  }
  .banner-img {
    height: 70%;
    max-height: 75%;
    max-width: 100%;
  }
  #nav-bar {
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav-link {
  padding: 0.8rem 2rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  height: 4rem;
  
  }
  .page-nav {
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
  }
  .page-number {
    padding: 0.6rem 1.4rem;
    font-size: 1.4rem;
    height: 4rem;
  } 
  #book-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 1rem;
    
  }
  #book-img {
    width: 50%;
  }
  .book-call-text {
    height: 2.5rem;
    width: auto;
    margin-bottom: 1.6rem;
    font-size: 2.8rem;
  }
  #about-text{
    width: 85%;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}



@media (max-width: 500px) {
  header {
    height: 20%;
  }
  .banner-img {
    width: 100%;
    margin-top: 1rem;
  }
  .nav-link {
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    height: 3.4rem;
  } 
  #nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    margin-top: 1rem;
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
    width: 100%;
    
  }
  /* .pagination-spacer { */
  /*   margin-left: 10rem; */
  /*   margin-right: 10rem; */
  /* } */
  .pagination-text{
      padding-bottom: 0;
    }
  .page-nav {
      padding: 0.8rem 1rem;
      font-size: 1rem;
    }
  .page-number {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    height: 3rem;
  } 
  
  .song-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;

  }
  #song-img{
  	width: 80%;
  }
  .img-joke-container {
    width: 100%;
  }
  .text-joke-container {
    width: auto;
  }
  #contact-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 0;
    padding: 0;
  }
  #contact-text {
    margin: 0;
    padding: 0;
  }
  #mailing-list-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #mailing-list-label {
    margin-top: 0;
    padding: 0;
  }
  #form {
    margin: 0;
    padding: 0;
  }
  #book-img {
    width: 70%;
  }
  .book-call-text {
    height: 2.5rem;
    width: auto;
    
    font-size: 2.2rem;
  }
  #about-text{
    width: 95%;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }


  .instructions {
    width: 95%;
    height: 5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 2rem; */
    font-size: 1.6rem;
    line-height: 4rem;
  }
  
  #message {
    
  }
  
  
  
  .submit-input {
    font-size: 1.6rem;
    width: 25rem;
  }
  
  .user-buttons,
  .user-buttons-2 {
    font-size: 1.6rem;
    padding-bottom: 0.4rem;
    width: 20rem;
    
    
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    line-height: 1.8rem;
    height: 3rem;
    cursor: pointer;
  }
  

  
  .user-form-div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  #confirm-label {
    line-height: 4rem;
    padding-bottom: 0.8rem;
  }
  
  select {
    font-size: 1.6rem;
  }
  
  .user-input {
    font-size: 1.6rem;
    height: 3rem;
    
  }
  
  .joke-fields {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 95%;
  }
  
  #knock-fields {
    gap: 2rem;
  }
  
  #knock-response,
  #knock-final {
    margin: 1rem 0;
  }
  
  #dialogue-instructions-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  #dialogue-instructions {
    line-height: 2.6rem;
    margin-bottom: 2rem;
    width: auto;
  }
  
  .visible {
    display: flex;
  }
  
  .hidden {
    display: none;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  #create-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
